<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>N-SEC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/twitter.css">
</head>

<body>
    <main>
        <!-- https://nakox.jp/web/coding/chat_twitter_css -->

        <!-- ▼twitter風ここから -->
        <div class="twitter__container">
            <!-- タイトル
            <div class="twitter__title">
                <span class="twitter-logo"></span>
            </div> -->

            <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
            <div class="twitter__contents scroll">

                <!-- 記事エリア -->
                <div class="twitter__block">
                    <figure>
                        <img src="icon.png" />
                    </figure>
                    <div class="twitter__block-text">
                        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
                        <div class="date">10分前</div>
                        <div class="text">
                            今日も終電だよ～<br>
                        </div>
                        <div class="twitter__icon">
                            <span class="twitter-bubble"></span>
                            <span class="twitter-loop"></span>
                            <span class="twitter-heart"></span>
                        </div>
                    </div>
                </div>

                <!-- 記事エリア -->
                <div class="twitter__block">
                    <figure>
                        <img src="icon.png" />
                    </figure>
                    <div class="twitter__block-text">
                        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
                        <div class="date">1時間前</div>
                        <div class="text">
                            残業でお腹空いたから朝までやってるお店でラーメン食べることにした(^o^)神の食べ物すぎる・・うまぁ
                            <div class="in-pict">
                                <img src="/public/images/example1.jpg">
                            </div>
                        </div>
                        <div class="twitter__icon">
                            <span class="twitter-bubble">1</span>
                            <span class="twitter-loop">4</span>
                            <span class="twitter-heart">122</span>
                        </div>
                    </div>
                </div>

                <!-- 記事エリア -->
                <div class="twitter__block">
                    <figure>
                        <img src="icon.png" />
                    </figure>
                    <div class="twitter__block-text">
                        <div class="name">うさきち<span class="name_reply">@usa_tan</span></div>
                        <div class="date">2018/06/24 5:34</div>
                        <div class="text">
                            睡眠２時間で出社なんだけど…
                            <a href="https://nakox.jp/">https://nakox.jp/</a>
                        </div>
                        <div class="twitter__icon">
                            <span class="twitter-bubble">1</span>
                            <span class="twitter-loop"></span>
                            <span class="twitter-heart"></span>
                        </div>
                    </div>
                </div>

            </div>
            <!--　▲タイムラインエリア ここまで -->
        </div>
        <!--　▲twitter風ここまで -->
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>