<% layout('layouts/boilerplate') %>
<h1>クエスト#1の投稿画面</h1>

<p>住所: 〒160-0023 東京都新宿区西新宿2-11</p>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">簡潔に言うと</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ラジオ体操">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">コメント</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>

<div class="mb-3">
    <label for="formFileMultiple" class="form-label">画像をアップロード</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>