<% layout('layouts/boilerplate') %>
<h1>クエスト#1の詳細一覧画面</h1>

<a href="/quest/1/details" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">投稿する</a>
<img src="/public/images/map.png" class="img-fluid" alt="西新宿のマップ">
<p>住所: 〒160-0023 東京都新宿区西新宿2-11</p>

<!-- https://getbootstrap.com/docs/5.3/components/card/#grid-cards -->
<div class="row row-cols-2 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
          <img src="/public/images/example1.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">太極拳</h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">クエスト#1</small>
          </div>  
        </div>
    </div>

    <div class="col">
        <div class="card">
          <img src="/public/images/default.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">ラジオ体操</h5>
            <p class="card-text">100人ほどいました！</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">クエスト#1</small>
          </div>  
        </div>
      </div>
</div>